body {
	background: #c0c0c0;
}

#subtitle {
	font-size: 15px;
	margin: 20px 0;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.btn {
	margin-left: 25px;
}

#display_result {
	margin-top: 20px;
}

form {
	margin-left: -5px;
}

label {
	font-weight: normal;
	margin-left: 15px;
	margin-right: 8px;
}